.drop-file-input {
    position: relative;
    width: 60%;
    margin: 0 auto;
    border: 2px dashed #4D95CB;
    border-radius: 20px;
    background-color: #f5f8ff;
}

.drop-file-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.drop-file-input:hover,
.drop-file-input.dragover {
    opacity: 0.6;
}

.drop-file-input__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-file-input__label img {
    width: 80px;
}